<ion-content>
  <ion-card>
    <img alt="Evento" src="../../../assets/icon/buinzooevent.png" />
    <ion-card-header>
      <ion-card-title>Celebra tu cumpleaños en Buin Zoo</ion-card-title>
      <ion-card-subtitle>¡Los cumpleaños más salvajes se celebran en Buin Zoo!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <strong>Servicio de cumpleaños incluye:</strong> 
      <ul>
        <li>Uso de Recinto Privado para celebrar cumpleaños, cantar y abrir regalos.</li>
        <li>Identificación y pulseras para todos los invitados.</li>
        <li>Guía y Anfitrión.</li>
        <li>Chapita de cumpleaños para el festejado.</li>
        <li>Diploma para el festejado.</li>
        <li>Regalo Sorpresa para el festejado.</li>
        <li>5 cupos de estacionamiento gratis.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Evento" src="../../../assets/icon/eventoEmpresa.png" />
    <ion-card-header>
      <ion-card-title>Tu evento empresa en buin zoo</ion-card-title>
      <ion-card-subtitle>Ven y realiza tu evento con nosotros.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Buin Zoo tiene todo lo necesario para realizar los mejores
      eventos a empresas e instituciones, tenemos un amplio anfiteatro
      con capacidad para 3.500 personas,  plazas aptas para el montaje de carpas y escenarios,
      terrazas en altura con acceso privado para grupos pequeños y una sala de teatro para
      funciones especiales con capacidad para 300 personas.
    </ion-card-content>
  </ion-card>
</ion-content>

