ion-content {
    --background: none;
    background-image: url(./../../../assets/fondos/fondo_paginas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.perfil-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea todos los elementos, incluido el avatar, al centro */
}

.perfil-avatar {
    margin: 20px 0;
    width: 120px;
    height: 120px;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.perfil-info {
    margin-top: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around; /* Aumenta el espacio entre los puntos y nivel */
    width: 100%;
    max-width: 400px; /* Evita que se extienda demasiado en pantallas grandes */
}

ion-row {
    text-align: center;
    font-size: 16px;
}

.info-col {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que el texto dentro de cada columna esté centrado */
}

ion-card {
    margin-top: 20px;
    width: 90%;
}
