


ion-menu {
  ion-toolbar {
    --background: #ffffffe8; /* Color de fondo del toolbar (cabecera del menú) */
    --color: #000000; /* Color del título del menú */
  }

  ion-item {
    --background: transparent; /* Fondo de cada ítem */
    --color: #000000; /* Color del texto de los ítems */
    
    &:hover {
      --background: #80a522; /* Color de fondo al pasar el cursor sobre el ítem */
    }
  }

  ion-title {
    font-weight: bold; /* Opción: poner el título en negrita */
  }
}

ion-toolbar {
  --background: #ffffffe8; /* Cambia el color de fondo del toolbar */
  --color: #000000; /* Cambia el color del texto (título) */
}

ion-back-button {
  --color: #80a522; /* Cambia el color del botón de retroceso */
}

ion-menu-button {
  --color: #80a522; /* Cambia el color del ícono del botón del menú */
}