<ion-content>
  <ion-card *ngFor="let pregunta of preguntasRandom">
    <ion-card-header>
      <ion-card-title>{{ pregunta.pregunta }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-button
            [color]="pregunta.respondida ? (pregunta.respuesta_correcta === 'a' ? 'success' : 'danger') : 'primary'"
            [disabled]="pregunta.respondida"
            (click)="seleccionarRespuesta(pregunta, 'a')">
            {{ pregunta.respuestas.a }}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button
            [color]="pregunta.respondida ? (pregunta.respuesta_correcta === 'b' ? 'success' : 'danger') : 'primary'"
            [disabled]="pregunta.respondida"
            (click)="seleccionarRespuesta(pregunta, 'b')">
            {{ pregunta.respuestas.b }}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button
            [color]="pregunta.respondida ? (pregunta.respuesta_correcta === 'c' ? 'success' : 'danger') : 'primary'"
            [disabled]="pregunta.respondida"
            (click)="seleccionarRespuesta(pregunta, 'c')">
            {{ pregunta.respuestas.c }}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button
            [color]="pregunta.respondida ? (pregunta.respuesta_correcta === 'd' ? 'success' : 'danger') : 'primary'"
            [disabled]="pregunta.respondida"
            (click)="seleccionarRespuesta(pregunta, 'd')">
            {{ pregunta.respuestas.d }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
