<ion-content>
  <ion-searchbar color="light" placeholder="Buscar atracción"></ion-searchbar>

  <ion-card *ngFor="let animal of animales" class="animal-card">
    <div class="image-container">
      <img alt="{{animal.nombre_comun}}" src="{{animal.imagen}}" [routerLink]="['/app/animal-info', animal.id]"/>
      <div class="icono-numero">{{animal.posicion_mapa}}</div>
    </div>
    <ion-card-header class="card-header">
      <div class="header-content">
        <ion-button fill="clear" (click)="like(animal.id)">
          <img [src]="animal.reaccion === true ? '../../../assets/icon/likeVerde.png' : '../../../assets/icon/likeNegro.png'" alt="Me gusta" />
        </ion-button>

        <div class="title-container">
          <ion-card-title>{{ animal.nombre_comun }}</ion-card-title>
          <ion-card-subtitle class="estado" 
            [ngClass]="{
              'estado-disponible': animal.disponibilidad === 'Disponible',
              'estado-no-disponible': animal.disponibilidad !== 'Disponible'
            }">{{animal.disponibilidad}}</ion-card-subtitle>
        </div>

        <ion-button fill="clear" (click)="dontLike(animal.id)">
          <img [src]="animal.reaccion === false ? '../../../assets/icon/dislikeRojo.png' : '../../../assets/icon/dislikeNegro.png'" alt="Me gusta" />
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
