.animal-card {
  margin: 15px;
  border-radius: 15px;
  overflow: hidden; /* Para asegurar que los bordes sean redondeados y no se desborden */
}

.image-container {
  position: relative;
  text-align: center;
  padding: 5px;
}

.image-container img {
  width: 100%; /* Ajusta el tamaño para que no llegue a los bordes */
  height: auto;
  border-radius: 10px; /* Bordes redondeados en la imagen */
}

.icono-numero {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFA500;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
}

.card-header {
  padding: 1px 0 1px 0; /* Reduce el espacio entre el subtítulo y el título */
  text-align: center;
}

.estado {
  font-size: 0.85em;
  color: green; /* Este color cambiará según la disponibilidad */
}

.estado-disponible {
  color: green;
}

.estado-no-disponible {
  color: red;
}

.animal-nombre {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: url(./../../../assets/icon/fondoinicio.png) no-repeat;
}
