<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Horarios Buin Zoo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lunes: Cerrado</p>
      <p>Martes a Viernes: 9:30 a 17:30 hrs</p>
      <p>Sábado, Domingo y Feriados: 9:30 a 18:00 hrs</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reglas de comportamiento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>No se puede ingresar ni consumir bebidas alcohólicas al interior del zoológico.</li>
        <li>No se permite el uso en el parque de bicicletas, patines, skates o similares.</li>
        <li>No se permite el ingreso de globos y/o pelotas al parque.</li>
        <li>No se permite el ingreso de mascotas.</li>
        <li>No se permite ingresar ni volar drones o similares dentro del parque.</li>
        <li>No se permite fumar en Buin Zoo. Somos un parque libre de humo para los niños que nos visitan.</li>
        <li><strong>IMPORTANTE:</strong> No se realizan devoluciones de dinero por entradas. Para cambios de fecha, envía un correo a soporte&#64;buinzoo.cl.</li>
        <li>Está estrictamente prohibido arrojar comida a los animales.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Servicios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Se cuenta con lugares de venta de alimentos: Restaurante Rafiki, Patio de Comidas "Palafito", y más.</li>
        <li>Se permiten snacks y bebidas pequeñas dentro del parque.</li>
        <li>No se permite el ingreso de coolers, platos preparados, ni utensilios.</li>
        <li>No se permite cocinar en el parque.</li>
        <li>Varias zonas están habilitadas para sentarse a comer.</li>
        <li>El estacionamiento tiene una capacidad de 1,000 vehículos.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Custodia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Servicio gratuito al lado del Centro de Atención al Invitado (CAI) para guardar objetos pequeños/medianos.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Eventos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Eventos para cumpleañeros con previa reservación (más de 15 invitados).</li>
        <li>Visitas educativas para colegios con precios preferenciales.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Atracciones adicionales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li><strong>Dino parque:</strong> Safari de Dinosaurios Animatronics, plaza de agua (sin costo adicional).</li>
        <li><strong>Buin Marino:</strong> Muestra educativa con animales marinos en vivo (Costo adicional: $2.700 - $3.000).</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos adicionales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>No cerramos en días de lluvia, ni devolvemos entradas por precipitaciones.</li>
        <li>Aforo limitado, derecho de no vender entradas el mismo día.</li>
        <li>La boletería y acceso cierran 1 hora antes del cierre del parque.</li>
        <li>El parque está junto a la estación de tren EFE.</li>
        <li>Donaciones por ticket están actualmente deshabilitadas.</li>
        <li>No se permite el ingreso de mascotas, excepto perros de asistencia y mascotas de apoyo emocional bajo ciertas condiciones.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Baños</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Todos los baños cuentan con mudadores en las áreas de hombres y mujeres.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
