<ion-content>
  <!-- Si los datos del animal están cargados, se muestran, de lo contrario se muestra el loading -->
  <ng-container *ngIf="animal$ | async as animal; else loading">
    <ion-card>
      <div>
        <img alt="Silhouette of mountains" src="{{animal.imagen}}" />
        <div class="icono-numero">{{animal.posicion_mapa}}</div>
      </div>

      <ion-card-header>
        <div class="header-content">
          <ion-button fill="clear" (click)="setCuriosidadOpen(true)">
            <img src="../../../assets/icon/ampolleta.png" alt="Curiosidad" />
          </ion-button>

          <div class="title-container">
            <h6 [ngClass]="{'estado-disponible': animal.disponibilidad === 'Disponible', 'estado-no-disponible': animal.disponibilidad !== 'Disponible'}">
              {{animal.disponibilidad}}
            </h6>
            <ion-card-title>{{ animal.nombre_comun }}</ion-card-title>
            <ion-card-subtitle>{{ animal.nombre_cientifico }}</ion-card-subtitle>
          </div>

          <ion-button fill="clear" (click)="setPrecaucionOpen(true)">
            <img src="../../../assets/icon/precaución_rojo.png" alt="Precaución" />
          </ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Descripción: </strong>{{ animal.descripcion_1 }}</p>
        <p><strong>Comportamiento:</strong> {{ animal.comportamiento }}</p>
        <p><strong>Habitat:</strong> {{ animal.habitat }}</p>
        <p><strong>Estado de conservación:</strong> {{ animal.estado_conservacion }}</p>
        <p><strong>Dieta: </strong>{{ animal.dieta }}</p>
        <p><strong>Peso:</strong> {{ animal.peso }}</p>
      </ion-card-content>
    </ion-card>

    <ion-modal [isOpen]="isCuriosidadModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Curiosidad</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setCuriosidadOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" class="fondoModalCuriosidad">
          <ion-card>
            <ion-card-content>
              <strong>{{ animal.dato_curioso }}</strong>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isPrecaucionModalOpen" cssClass="custom-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Precauciones</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setPrecaucionOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" class="fondoModalPrecaucion">
          <ion-card>
            <ion-card-content>
              <strong>{{ animal.precaucion_1 }}</strong>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <strong>{{ animal.precaucion_2 }}</strong>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <strong>{{ animal.precaucion_3 }}</strong>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Conoce más información</ion-card-subtitle>
        <ion-card-title>Multimedia</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Verificar si hay un video disponible -->
        <ng-container *ngIf="animal.video; else noVideo">
          <ion-card-subtitle>Video</ion-card-subtitle>
          <video width="100%" height="auto" controls>
            <source [src]="animal.video" type="video/mp4" />
            Tu navegador no soporta la reproducción de video.
          </video>
        </ng-container>

        <ng-template #noVideo>
          <p>No hay video disponible para este animal.</p>
        </ng-template>

        <!-- Verificar si hay un audio disponible -->
        <ng-container *ngIf="animal.audio; else noAudio">
          <ion-card-subtitle>Audio</ion-card-subtitle>
          <audio controls>
            <source [src]="animal.audio" type="audio/mp3" />
            Tu navegador no soporta la reproducción de audio.
          </audio>
        </ng-container>

        <ng-template #noAudio>
          <p>No hay audio disponible para este animal.</p>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Mostrar un mensaje de carga mientras se obtiene la información del animal -->
  <ng-template #loading>
    <ion-card>
      <ion-card-content>
        <p>Cargando información del animal...</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
